*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
 text-align: center;
 margin: 2rem auto;
 display: flex;
 flex-direction: column;
 background-color: rgb(94, 37, 115);
}

h1{
  color: rgb(20, 190, 220);
  margin: 1rem auto;
}

a{
  padding: 20px 40px;
  margin: 1rem auto;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
  border: 5px solid #fff;
  position: relative;
  transition: 1s;
}

a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: all 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

a:hover::before{
  transform: rotateX(0);
}

a::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: all 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

a:hover::after{
  transform: rotateY(0);
}

